body {
    background-color: #272822;
}

.header {
    color: #da2774;
}

.widget-content {
    padding: 0 15px 0 5px;
}

.widget-body > p {
    text-align: left;
    color: #ffffff;
    font-size: 14px;
}