html {
  position: relative;
  min-height: 100%;
}

body {
    background-color: #272822;
    margin-bottom: 60px;
}

.brace {
    font-size: 18px;
    color: #ffffff;
}

.special-hr {
	height: 6px;
	background: url(http://ibrahimjabbari.com/english/images/hr-11.png) repeat-x 0 0;
    border: 0;
}

.center {
    text-align: center;
}

.header {
    color: #da2774;
}

.header > hr {
    width: 125px;
}

.widget-content {
    padding: 0 15px 0 5px;
}

.widget-body > p {
    text-align: left;
    color: #ffffff;
    font-size: 14px;
}

.skill-item {
    padding: 0px 20px 0px 20px; 
    font-size: 18px;
    color: #00ff00;
}

.contact-link {
    padding: 0px 20px 0px 20px;
    color : #aa5b22;
    font-size: 18px;
}

.contact-link > a {
    text-decoration: none;
    color: #6adbd6;
}

.contact-link > a:hover {
    color: #7162cb;
}

.contact-address {
    padding: 20px 120px 20px 20px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 30px;
  background-color: #000000;
}